.fa-male {
    font-size: 4em;
    margin-right: 10px;
}
div {
	border: 1px solid darkgrey;
	width: 490px;
	min-height: 30px;
	margin-bottom: 20px;
	padding: 10px;
}
.fieldForBlock {
	width: 1000px;
	border: none;
	min-height: 500px;
}
input {
	margin: 10px 10px 10px 0;
}